body {
  background: rgb(34, 34, 34);
  background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#links a.d-block {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
  height: 40vw;
}

#links a.d-block::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform .4s ease-in-out;
}

#links a.d-block:focus::after,
#links a.d-block:hover::after {
  transform: scale(1.05);
}

@media(min-width: 992px) {
  #links a.d-block {
    height: 20vw;
  }
}

.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 10s ease-in-out infinite;
  background-size: 400% 100%;
}

@media(min-width: 992px) {
  .rainbow {
    letter-spacing: 0.15em;
  }
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}